@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?3c8lj3');
  src:  url('../fonts/icomoon.eot?3c8lj3#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?3c8lj3') format('truetype'),
    url('../fonts/icomoon.woff?3c8lj3') format('woff'),
    url('../fonts/icomoon.svg?3c8lj3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Star:before {
  content: "\e907";
  color: #cbcbcb;
}
.icon-Star-black:before {
  content: "\e908";
  margin-right: 5px;
}
.icon-instagram:before {
  content: "\e904";
  color: #fff;
}
.icon-twitter:before {
  content: "\e905";
  color: #fff;
}
.icon-Facebook:before {
  content: "\e906";
  color: #fff;
}
.icon-instagram:hover:before, .icon-Facebook:hover:before, .icon-twitter:hover:before {
	color: #8a5137;
}
.icon-instagram-grey:before {
  content: "\e903";
  color: #909090;
  margin-right: 10px;
}
.icon-wash, .icon-apply, .icon-wait {
	font-size: 45px;
	text-align: center;
	line-height: 124px;
}
.icon-wait:before {
  content: "\e901";
  color: #8a5137;
}
.icon-wash:before {
  content: "\e902";
  color: #8a5137;
}
.icon-apply:before {
  content: "\e900";
  color: #8a5137;
}
.icon-shopping-bag {
	position: relative;
}
.icon-shopping-bag:before {
  content: "\e909";
}
.icon-shopping-bag:after {
	content: '3';
	text-align: center;
	width: 15px;
	font-size: 10px;
	line-height: 15px;
	background-color: #000;
	color: #fff;
	border-radius: 50%;
	position: absolute;
	top: -7px;
	right: -8px;
}




*, .footer {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}
html, body {
	overflow-x: hidden;
}

.header-paragraph-wrapper {
	height: 38px;
	background-color: #000;
}
.header-paragraph {
	color: #fff;
	font-size: 12px;
	line-height: 38px;
	text-align: center;
	font-weight: 300;
}
.mobile-white-bg {
	display: none;
}
.nav {
	height: 100px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.nav-items {
	list-style: none;
	display: flex;
	height: 24px;
	width: 660px;
	justify-content: space-between;
}
.nav-item-link {
	font-size: 16px;
	line-height: 24px;
	color: #000;
	text-decoration: none;
	text-transform: capitalize;
	padding-bottom: 5px;
}
.nav-item-link:hover {
	color: #8A5137;
	border-bottom:  1px solid #8A5137;
}
.menu-button {
	display: none;
}
.gap-top-menu-open {
	display: none;
}
.main-product-wrapper {
	height: 780px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-image: url(../img/img1.png);
	background-repeat: no-repeat;
	background-position: left bottom;
	background-size: contain;
}
.main-headings-wrapper {
	text-align: center;
}
h1 {
	font-weight: 300;
	font-size: 36px;
	line-height: 140%;
	font-weight: 300;
	width: 550px;
	margin: 0 auto;
	margin-bottom: 15px;
}
.sub-heading {
	font-size: 20px;
	line-height: 30px;
	font-weight: 400;
	width: 400px;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 35px;
}
.shop-button {
	font-size: 16px;
	line-height: 24px;
	color: #fff;
	font-weight: 400;
	width: 316px;
	height: 70px;
	background-color: #000;
	cursor: pointer;
	border: none;
}
.about-product-block {
	height: 435px;
	background-color: #000;
	display: flex;
	align-items: center;
}
.about-heading-wrapper {
	width: 50%;
	text-align: center;
}
.about-sub-heading {
	font-weight: 300;
	font-size: 22px;
	line-height: 170%;
	color: #fff;
	width: 400px;
	margin: 0 auto;
}
.about-block-logo {
	width: 264px;
	height: 27px;
	margin-bottom: 26px;
}
.about-block-img {
	width: 538px;
	height: 650px;
	position: absolute;
	right: 165px;
}
.serum-block {
	height: 750px;
	display: flex;
	align-items: center;
}
.serum-img-wrapper {
	width: 50%;
	background: url("../img/serum-bg.png");
}
.serum-info-block {
	width: 50%;
	text-align: center;
}
.serum-sub-heading {
	font-weight: 200;
	font-size: 40px;
	line-height: 130%;
	width: 500px;
	margin: 0 auto;
	margin-bottom: 40px;
}
.reviews {
	font-weight: 300;
	font-size: 18px;
	line-height: 125.5%;
	margin-right: 10px;
}
.serum-description {
	font-weight: 300;
	font-size: 18px;
	line-height: 170%;
	margin: 0 auto;
	margin-top: 25px;
	margin-bottom: 20px;
	width: 428px;
}
.prices-wrapper {
	margin-bottom: 30px;
}
.old-price {
	font-weight: 200;
	font-size: 20px;
	line-height: 150%;
	opacity: 0.5;
	margin-right: 20px;
	position: relative;
}
.old-price:before {
	content: "";
	position: absolute;
	top: -37px;
	left: -17px;
	width: 90px;
	height: 50px;
	border-bottom: 1px solid #000;
}
.relevant-price {
	font-weight: 200;
	font-size: 30px;
	line-height: 150%;
}
.buy-it-word {
	display: none;
}
.sponge-block {
	height: 740px;
	background-image: url("../img/img3.png");
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}
.mobile-sponge-bg {
	display: none;
}
.sponge-block-paragraph {
	font-weight: 200;
	font-size: 60px;
	line-height: 120%;
	color: #fff;
	width: 300px;
	text-align: center;
}
.how-to-use-block {
	height: 550px;
	background-color: rgb(252,209,194, 0.2);
	background-image: url(../img/how-to-use.png);
	background-repeat: no-repeat;
	background-position: top center;
}
.how-to-use-paragraph {
	font-weight: 200;
	font-size: 40px;
	line-height: 150%;
	color: #000;
	margin-bottom: 90px;
	padding-top: 160px;
	text-align: center;
}
.how-to-use-stages {
	display: flex;
	justify-content: space-around;
}
.how-to-use-stage-wrapper {
	width: 124px;
	height: 124px;
	border: 1px solid #8A5137;
	border-radius: 50%;
	background-color: #fff;
	margin-bottom: 20px;
}
.testimonials {
	height: 900px;
	padding-top: 100px;
	text-align: center;
}
.testimonials-heading {
	font-weight: 200;
	font-size: 40px;
	line-height: 150%;
	text-align: center;
	margin-bottom: 35px;
}
.testimonials-name {
	font-weight: 500;
	font-size: 22px;
	line-height: 170%;
	margin-top: 15px;
	margin-bottom: 25px;
}
.carousel-paragraph {
	margin-right: 66px;
	margin-left: 66px;
	font-weight: 300;
	font-size: 18px;
	line-height: 170%;
	width: 650px !important;
}
.blog-block {
	height: 700px;
	background-color: #000;
	position: relative;
	background-image: url(../img/blog-bg.png);
	background-repeat: no-repeat;
	background-position: top right;
	display: flex;
	justify-content: center;
	align-items: center;
}
.aloe-img {
	position: absolute;
	left: 350px;	
	top: -200px;
}
.blog-heading {
	font-weight: 200;
	font-size: 40px;
	line-height: 150%;
	color: #fff;
}
.blog-items {
	display: flex;
	position: absolute;
	bottom: -230px;
	height: 400px;
}
.blog-items .slick-list {
	overflow: initial;
}
.blog-item {
	margin-right: 20px;
}
.blog-items .blog-item:last-child {
	margin-right: 0;
}
.blog-item-img {
	margin-bottom: 22px;
}
.img-wrapper:hover:before {
	content: '';
	background: #8A5137;
	opacity: 0.6;
	width: 427px;
  height: 299px;
  position: absolute;
  z-index: 2;
  cursor: pointer;
}
.blog-paragraph {
	font-size: 18px;
	line-height: 160%;
	width: 427px;
}
.brands-block {
	height: 500px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.subscribe-block {
	height: 570px;
	display: flex;
	align-items: center;
	background: linear-gradient(to right, #FCD1C2, #fefdfd, #fff);
}
.subscribe-block-description {
	text-align: center;
	width: 100%;
}
.subscribe-heading {
	font-weight: 200;
	font-size: 40px;
	line-height: 150%;
	margin-bottom: 30px;
}
.subscribe-paragraph {
	font-weight: 300;
	font-size: 22px;
	line-height: 170%;
	margin: 0 auto;
	margin-bottom: 30px;
	width: 735px;
}
.email-input {
	width: 315px;
	height: 70px;
	border: 1px solid #000000;
	padding-left: 25px;
	background-color: transparent;
	position: absolute;
	left: 300px;
}
.subscribe-button {
	width: 203px;
	height: 70px;
	background-color: #000;
	font-size: 16px;
	line-height: 24px;
	color: #fff;
	cursor: pointer;
	border: none;
	position: absolute;
	left: 615px;
}
.instagram-block {
	height: 570px;
	text-align: center;
	padding-top: 115px;
}
.instagram-block #insta-carousel .slick-next, .instagram-block #insta-carousel .slick-prev {
	border: 1px solid transparent;
}
.instagram-block #insta-carousel .slick-next:hover, .instagram-block #insta-carousel .slick-prev:hover {
	background-color: transparent;
}
.instagram-block #insta-carousel .slick-prev {
	left: -70px;
	top: 90px;
}
.instagram-block #insta-carousel .slick-next {
	right: -60px;
	top: 90px;
}
#insta-carousel {
	width: 1500px;
	margin: 0 auto;
}
.instagram-heading {
	letter-spacing: -0.03em;
	text-transform: uppercase;
	font-weight: 200;
	font-size: 40px;
	line-height: 84%;
	margin-bottom: 65px;
}
.instagram-paragraph {
	font-weight: 300;
	font-size: 14px;
	line-height: 125.5%;
	display: inline-block;
}
#insta-carousel {
	margin-bottom: 75px;
}
.footer {
	height: 310px;
	background-color: #000;
	background-image: url(../img/blog-bg.png);
	background-repeat: no-repeat;
	background-position: top -400px left -400px;
	background-size: 900px 900px;
	padding-top: 40px;
}
.footer-div {
	margin: 0 auto;
	width: 1320px;
	height: 210px;
	border-bottom: 0.5px solid rgb(255,255,255, 0.3);
	display: flex;
	justify-content: space-between;
}
.footer-logo {
	width: 180px;
	height: 19px;
}
.copyrights-div {
	margin: 0 auto;
	color: #fff;
	width: 1320px;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 300;
	font-size: 12px;
	line-height: 18px;
	opacity: 0.4;
}
.footer-nav-contacts-block {
	display: flex;
}
.footer-nav {
	line-height: 240%;
	margin-right: 117px;
}
.footer-nav-contacts-block .footer-nav:last-child {
	margin-right: 30px;
}
.footer-nav-items {
	list-style: none;
}
.footer-nav-item-link {
	color: #fff;
	font-size: 16px;
	text-decoration: none;
}
.footer-nav-item-link:hover {
	color: #8A5137;
}
.socials-link {
	text-decoration: none;
	margin-right: 55px;
}
.socials-link:last-child {
	margin-right: 0;
}
.socials {
	margin-bottom: 130px;
	display: flex;
	justify-content: flex-end;
}
.card-link {
	margin-right: 15px;
}
.cards .card-link:last-child {
	margin-right: 0;
}
.card-img {
	border: 1px solid transparent;
}
.card-img:hover {
	border: 1px solid #8A5137;
}
.slick-list {
	padding: 0 !important;
	width: 100%;
	height: 185px;
}
.slick-track {

}
@media screen and (max-width: 1024px) {
	.main-product-wrapper {
		height: 500px;
	}
	h1 {
		width: 450px;
		font-size: 32px;
	}
	.sub-heading {
		font-size: 18px;
		width: 380px;
	}
	.main-headings-wrapper {
		width: 450px;
		margin-right: 40px;
	}
	.shop-button {
		width: 290px;
		height: 60px;
	}
	.about-product-block {
		height: 400px;
	}
	.about-sub-heading {
		font-size: 20px;
	}
	.about-block-img {
		width: 408px;
		height: 520px;
		right: 40px;
	}
	.serum-block {
		height: 650px;
	}
	.serum-img {
		width: 600px;
		height: 610px;
	}
	.serum-sub-heading {
		font-size: 38px;
	}
	.serum-description {
		font-size: 16px;
	}
	.old-price {
		font-size: 18px;
	}
	.relevant-price {
		font-size: 28px;
	}
	.sponge-block {
		height: 520px;
	}
	.sponge-block-paragraph {
		font-size: 50px;
	}
	.slick-prev {
		left: 250px;
	}
	.slick-next {
		right: 250px;
	}
	.aloe-img {
		left: 170px;
		height: 336px;
		width: 664px;
		top: -170px;
	}
	.blog-items {
		bottom: -280px;
	}
	.blog-item-img {
		width: 300px;
		height: 199px;
	}
	.blog-paragraph {
		width: 300px;
		font-size: 16px;
		line-height: 140%;
	}
	.brands-block {
		height: 400px;
	}
	.brands-img {
		width: 100%;
	}
	.subscribe-block {
		height: 480px;
	}
	.subscribe-block-img {
		width: 490px;
		height: 480px;
	}
	.subscribe-block-description {
		width: 534px;
	}
	.subscribe-heading {
		font-size: 36px;
	}
	.subscribe-paragraph {
		width: 490px;
		font-size: 18px;
	}
	.email-input {
		width: 265px;
		height: 50px;
		left: 70px;
	}
	.subscribe-button {
		width: 170px;
		height: 50px;
		left: 335px;
	}
	.instagram-block {
		height: 550px;
		padding-top: 90px;
	}
	#insta-carousel {
		width: 900px;
	}
	.footer-div {
		width: 900px;
	}
	.cards {
		width: 170px;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
	}
	.cards .card-link:nth-child(3) {
		margin-right: 0;
	}
	.footer-nav {
		margin-right: 80px;
	}
}
@media screen and (max-width: 768px) {
	.logo {
		width: 150px;
	}
	.nav-items {
		width: 450px;
	}
	.main-product-wrapper {
		height: 350px;
	}
	.main-headings-wrapper {
		margin-right: 0px;
		width: 400px
	}
	h1 {
		font-size: 28px;
		width: 400px;
	}
	.sub-heading {
		width: 300px;
		font-size: 14px;
		margin-bottom: 20px;
	}
	.shop-button {
		width: 200px;
		height: 50px;
	}
	.about-product-block {
		height: 300px;
	}
	.about-sub-heading {
		font-size: 16px;
		width: 300px;
	}
	.about-block-img {
		width: 290px;
		height: 350px;
	}
	.serum-block {
		height: 550px;
	}
	.serum-img {
		width: 540px;
		height: 550px;
	}
	.serum-sub-heading {
		width: 350px;
		font-size: 35px;
	}
	.serum-description {
		width: 250px;
		font-size: 14px;
	}
	.old-price {
		font-size: 16px;
	}
	.old-price:before {
		width: 70px;
		left: -10px;
	}
	.relevant-price {
		font-size: 24px;
	}
	.sponge-block {
		height: 400px;
	}
	.sponge-block-paragraph {
		font-size: 40px;
	}
	.how-to-use-block {
		height: 400px;
		background-size: 600px 200px;
	}
	.how-to-use-paragraph {
		padding-top: 100px;
		font-size: 30px;
		margin-bottom: 50px;
	}
	.how-to-use-stage-wrapper {
		width: 90px;
		height: 90px;
	}
	.icon-wash, .icon-apply, .icon-wait {
		line-height: 90px;
		font-size: 40px;
	}
	.how-to-use-stage-block {
		display: flex;
		width: 140px;
		flex-wrap: wrap;
		justify-content: center;
	}
	.carousel-paragraph {
		width: 500px !important;
		margin-right: 33px;
		margin-left: 33px;
	}
	.slick-prev {
		left: 180px;
	}
	.slick-next {
		right: 180px;
	}
	.testimonials {
		height: 700px;
	}
	.blog-block {
		height: 500px;
	}
	.blog-items {
		width: 750px;
	}
	.aloe-img {
		width: 490px;
		height: 250px;
		left: 140px;
		top: -110px;
	}
	.blog-item-img {
		width: 230px;
		height: 160px;
	}
	.blog-paragraph {
		width: 230px;
		font-size: 14px;
	}
	.brands-block {
		height: 340px;
	}
	#insta-carousel {
		width: 600px;
	}
	.insta-carousel-img {
		width: 180px;
		height: 180px;
	}
	.subscribe-block {
		height: 430px;
	}
	.subscribe-block-description {
		width: 382px;
	}
	.subscribe-block-img {
		height: 420px;
	}
	.subscribe-heading {
		font-size: 34px;
	}
	.subscribe-paragraph {
		width: 370px;
		font-size: 15px;
		line-height: 160%;
	}
	.email-input {
		width: 200px;
		height: 40px;
		left: 30px;
	}
	.subscribe-button {
		width: 100px;
		height: 40px;
		left: 230px;
	}
	.footer {
		position: relative;
	}
	.footer-div {
		width: 650px;
	}
	.footer-logo {
		width: 170px;
		height: 15px;
	}
	.footer-nav {
		margin-right: 100px;
		line-height: 230%;
	}
	.footer-nav-item-link {
		font-size: 14px;
	}
	.socials {
		margin-bottom: 40px;
	}
	.socials-link {
		margin-right: 40px;
	}
	.footer-nav-contacts-block {
		position: absolute;
		top: 100px;
	}
}
@media screen and (max-width: 414px) {
	.header-paragraph-wrapper {
		height: 31px;
	}
	.header.menu-open .gap-top-menu-open {
		display: block;
		height: 70px;
		width: 100%;
	}
	h1 {
		width: 335px;
	}
	.header-paragraph {
		line-height: 31px;
		font-size: 10px;
	}
	.menu-button {
		display: block;
		font-size: 14px;
		line-height: 21px;
		border: none;
		background-color: transparent;
	}
	.nav-items {
		display: none;
	}
	.nav {
		height: 70px;
		background-color: #FEF6F3;
	}
	.header.menu-open .nav{
		background: #000;
		height: 250px;
		position: absolute;
		top:0;
		left: 0;
		width: 100%;
		z-index: 2;
		padding-top: 56px;
		align-items: flex-start;
	}
	.header.menu-open .menu-button {
		color: #fff;
	}
	.header.menu-open .menu-button:before,
	.header.menu-open .menu-button:after {
		content: "";
		display: block;
		width: 30px;
		height: 3px;
		background: #fff;
		position: absolute;
		top: 65px;
		left: 40px;
		/*transition: all 0.3s;*/
	}
	.header.menu-open .menu-button:before {
		transform: rotate(45deg);
	}

	.header.menu-open .menu-button:after {
		transform: rotate(-45deg);
	}
	.header.menu-open .menu-button-text {
		color: #000;
	}
	.header.menu-open .nav-items {
		display: block;
		position: absolute;
		top: 100px;
		left: -10px;
		text-align: center;
	}
	.header.menu-open .nav-item-link {
		color: #fff;
	}
	.header.menu-open .icon-shopping-bag {
		border-radius: 50%;
		color: #fff;
	}
	.header.menu-open .icon-shopping-bag:after {
		background-color: #fff;
		color: #000;
	}
	.mobile-white-bg {
		position: absolute;
		display: block;
		height: 600px;
		width: 100%;
		background: linear-gradient(2.76deg, #FDFAF8 11.68%, rgba(255, 255, 255, 0) 80.51%);
		z-index: 2;
	}
	.main-product-wrapper {
		height: 600px;
		background-image: url(../img/mobile-bg.png);
		background-size: cover;
		background-position: left top;
		background-color: #FEF6F3;
		justify-content: center;
		align-items: flex-end;
	}
	.main-headings-wrapper {
		z-index: 2;
		width: 335px;
		margin-bottom: 80px;
	}
	.new-line {
		display: block;
	}
	.sub-heading {
		font-size: 16px;
		line-height: 24px;
		width: 340px;
		margin-bottom: 30px;
	}
	.shop-button {
		width: 335px;
		height: 54px;
	}
	.about-product-block {
		height: 580px;
		position: relative;
		align-items: flex-end;
		justify-content: center;
	}
	.about-block-img {
		width: 335px;
		height: 405px;
		top: -40px;
		z-index: 2;
	}
	.about-heading-wrapper {
		width: 335px;
		margin-bottom: 60px;
	}
	.about-block-logo {
		width: 160px;
		height: 15px;
	}
	.serum-block {
		height: 800px;
		position: relative;
	}
	.serum-sub-heading {
		font-size: 30px;
		margin-bottom: 20px;
	}
	.serum-info-block {
		position: absolute;
		top: 85px;
		left: 40px;
		width: auto;
	}
	.reviews {
		font-size: 14px;
	}
	.icon-Star-black, .icon-Star {
		font-size: 14px;
	}
	.serum-description {
		margin-top: 10px;
		width: 335px;
	}
	.relevant-price {
		font-size: 30px;
	}
	.buy-it-word {
		display: inline;
	}
	.shop-word {
		display: none;
	}
	.serum-img {
		width: 355px;
		height: 357px;
	}
	.serum-img-wrapper {
		width: auto;
		position: absolute;
		bottom: 0;
		background-position: left bottom;
		background-size: 414px 380px;
	}
	.sponge-block {
		height: 570px;
		position: relative;
		background-size: contain;
		background-position: bottom center;
		background-image: url('../img/mobile-sponge-bg.png');
		background-repeat: no-repeat;
		align-items: flex-start;
	}
	.mobile-sponge-bg {
		display: block;
		height: 580px;
		width: 100%;
		position: absolute;
		background: linear-gradient(170.22deg, #FEF6F3 14.37%, rgba(254, 246, 243, 0) 104.42%);
	}
	.sponge-block-paragraph {
		color: #000;
		z-index: 2;
		margin-top: 65px;
	}
	.how-to-use-block {
		height: 700px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.how-to-use-paragraph {
		width: 335px;
		margin: 0 auto;
		margin-bottom: 0px;
		padding-top: 60px;
	}
	.how-to-use-stage-wrapper {
		margin-bottom: 15px;
	}
	.how-to-use-stages {
		flex-wrap: wrap;
		width: 240px;
		justify-content: center;
	}
	.how-to-use-stage-block {
		margin-bottom: 30px;
	}
	.how-to-use-stages .how-to-use-stage-block:last-child {
		margin-bottom: 0;
	}
	.carousel-paragraph {
		width: 335px !important;
		font-size: 14px;
	}
	#insta-carousel {
		width: 400px;
	}
	.slick-next {
		right: 25px;
	}
	.slick-prev {
		left: 25px;
	}
	.slick-next, .slick-prev {
		width: 31px;
		height: 31px;
	}
	.slick-prev:before {
		top: 2px;
		left: 13px;
	}
	.slick-next:before {
		top: 2px;
		right: 13px;
	}
	.anna-photo {
		width: 61px;
		height: 61px;
	}
	.testimonials-name {
		font-size: 16px;
	}
	.blog-block {
		height: 370px;
	}
	.blog-items {
		width: 300px;
	}
	.blog-items .slick-prev, .blog-items .slick-next {
		display: none !important;
	}
	.brands-block {
		height: 200px;
	}
	.aloe-img {
		width: 335px;
		height: 160px;
		left: 35px;
		top: -80px;
	}
	.blog-heading {
		font-size: 30px;
	}
	.subscribe-block {
		height: 900px;
		flex-wrap: wrap;
		justify-content: center;
		position: relative;
		align-items: flex-start;
		padding-top: 60px;
		overflow: hidden;
	}
	.subscribe-block-description {
		width: 335px;
	}
	.subscribe-heading {
		font-size: 30px;
	}
	.subscribe-paragraph {
		font-size: 16px;
		line-height: 170%;
		width: 335px;
	}
	.email-input, .subscribe-button {
		width: 335px;
		height: 54px;
		left: 0px;
	}
	.subscribe-button {
		top: 65px;
	}
	.subscribe-form {
		position: relative;
	}
	.subscribe-block-img {
		mix-blend-mode: multiply;
		align-self: flex-end;
		position: absolute;
		left: -40px;
		bottom: -40px;
		width: 450px;
		height: 430px;
	}
	.instagram-heading {
		font-size: 30px;
		line-height: 150%;
		text-transform: lowercase;
	}
	.instagram-paragraph {
		width: 258px;
		font-size: 12px;
	}
	.icon-instagram-grey {
		display: block;
		margin-bottom: 8px;
	}
	.insta-carousel-img {
		width: 105px;
		height: 105px;
	}
	#insta-carousel {
		margin-bottom: 25px;
		height: 110px;
	}
	.instagram-block {
		height: 400px;
		padding-top: 60px;
	}
	.footer-div {
		width: 335px;
		height: 350px;
	}
	.footer-logo {
		width: 122px;
		height: 12px;
	}
	.footer {
		height: 450px;
	}
	.footer-nav {
		width: 200px;
	}
	.footer-nav-contacts-block {
		flex-wrap: wrap;
	}
	.cards {
		width: 335px;
		justify-content: space-between;
	}
	.socials {
		position: absolute;
		top: -60px;
		right: 20px;
	}
	.socials-icons {
		margin-top: 30px;
	}
	.copyrights-div {
		width: 335px
	}
}
@media screen and (max-width: 375px) {
	.header.menu-open .nav-items {
		left: auto;
	}
	.about-block-img {
		right: 20px;
	}
	.serum-info-block {
		left: 15px;
	}
	.aloe-img {
		left: 40px;
	}
	.subscribe-block-img {
		left: -60px;
	}
}
